
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    
}
h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: rgb(11, 209, 17);
    text-decoration: underline;
}
